.title {
    position: absolute;
    width: 474px;
    height: 121px;
    left: 98px;
    top: 95px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 121px;
    /* identical to box height */


    color: #15182B;
}

.subtitle {
    position: absolute;
    width: 498px;
    height: 63px;
    left: 100px;
    top: 216px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    /* identical to box height */


    color: #15182B;
}

.prereqs {
    position: absolute;
    width: 297px;
    height: 53px;
    left: 98px;
    top: 335px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;

    color: #15182B;
}

.course-box {
    position: absolute;
    width: 244px;
    height: 65px;
 

    background: #D5C7DE;
    border-radius: 20px;
    left: 98px;
    top: 408px;
}

.course-rect {
    position: absolute;
    width: 244px;
    height: 65px;
    left: 20px;
    /* top: 408px; */
    top: 10px;
    background: #D5C7DE;
    border-radius: 20px;
}

.course-name {
    position: absolute;
    width: 204px;
    height: 65px;
    padding: 0;
    top: 7px;
    left: 20px;
    margin:0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    /* line-height: 53px; */

    color: #FFFFFF;
}

.course-description {
    position: absolute;
    width: 658px;
    height: 200px;
    left: 681px;
    top: 107px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 167.8%;
    /* or 40px */

    text-align: justify;

    color: #15182B;
}

.last-year-average {
    position: absolute;
    width: 165px;
    height: 132px;
    left: 923px;
    top: 371px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: right;

    color: #15182B;
}

.average {
    position: absolute;
    width: 226px;
    height: 151px;
    left: 1113px;
    top: 361px;

    background: #15182A;
    border-radius: 20px;
}

.percent {
    position: absolute;
    width: 174px;
    height: 97px;
    left: 30px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 97px;
    /* identical to box height */


    color: #FFFFFF;
}

.comments {
    position: absolute;
    width: 226px;
    height: 226px;
    left: 1113px;
    top: 670px;

    border-radius: 50%;

    background: #15182B;
}

.comment-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    left: 70px;
    top: 70px;
}

.comments:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}