.App {
  text-align: center;
}

.home-background {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #FFFFFF;
}

.home-gradient {
  position: absolute;
  width: 1475px;
  height: 994px;
  left: -431px;
  top: -496px;
  
  background: #D5C7DE;
  filter: blur(250px); 
}

.welcome-message {
  position: absolute;
  width: 1073px;
  height: 102px;
  left: 108px;
  top: 88px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  line-height: 102px;
  /* identical to box height */
  
  
  color: #15182B;
}

.welcome-sub-message {
  position: absolute;
  width: 700px;
  height: 63px;
  left: 108px;
  top: 200px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 63px;
  /* identical to box height */
  
  
  color: #15182B;
}

.welcome-text {
  position: absolute;
  width: 658px;
  height: 407px;
  left: 649px;
  top: 341px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 167.8%;
  /* or 40px */
  
  
  color: #15182B;
}

.welcome-image {
  position: absolute;
  width: 434px;
  height: 546px;
  left: 90px;
  top: 337px;

  border-radius: 50%;
  
  background: #D5C7DE;
}

.register-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 34.4px;
  
  position: absolute;
  width: 545.24px;
  height: 185.84px;
  left: 649px;
  top: 686px;
  
  font-size: 80px;

  background: #D5C7DE;
  border-radius: 430px;
}
